@use 'sass:math';

#score {
    position: relative;
    background-color: #FBFBFB;

    &>p {
        margin: 0;
        position: absolute;
        color: #20253A;
        font-size: 15px;
        font-weight: 600;
        padding-left: 15px;
        left: 30px;
        top: 24px;
    }

    .recharts-wrapper {
        z-index: 1;
        position: absolute;
    }
}

#score-text {
    position: absolute;
    $size: 150px;
    $offset: calc((260px - $size) / 2);
    transform: translate($offset, $offset);
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    top: 0;
    background: white;
    border-radius: 50%;
    z-index: 0;

    strong {
        font-size: 26px;
    }

    p {
        max-width: 100px;
        color: #74798C;
        text-align: center;
        font-size: 16px;
        margin: 0;
    }
}