#daily-activity {
    background-color: #FBFBFB;
    padding-left: 30px;
    border-radius: 5px;
    padding-bottom: 20px;

    #daily-header {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        margin-bottom: 54px;

        &>div {
            display: flex;
            align-items: center;
        }

        .dot {
            margin-right: 30px;
            font-weight: 600;
            color: #74798C;
        }
    }

    .dot::before {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        content: "";
        display: inline-block;
        margin-right: 10px;
    }

    .black::before {
        background-color: #282D30;
    }

    .red::before {
        background-color: #E60000;
    }

    .label {
        background-color: #E60000;
        color: white;
        padding: 10px;
    }
}